[submodule "vim/.vim/bundle/vim-sensible"]
	path = vim/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "vim/.vim/bundle/vim-elixir"]
	path = vim/.vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "vim/.vim/bundle/vim-indent-object"]
	path = vim/.vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object
[submodule "vim/.vim/bundle/vim-markdown"]
	path = vim/.vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
